a:link {
  color: navy;
}
a:visited {
  color: gray;
}
a:focus {
  color: rgb(163, 159, 152);
}
a:hover {
  color: red;
}
a:active {
  color: yellow;
}

.active {
  color: green;
  font-weight: bold;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

nav li {
  list-style-type: none;
}
